@model PNI.EShop.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Product " + Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

<div >
    <iframe id="product-viewer" src="/product-viewer/index.html" style="width: 430px; height: 320px; border: 0px;"></iframe>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            prodFrame = document.getElementById('product-viewer');
            //prodFrame.onload = function () {
                prodFrame.contentWindow.productColor = '@Model.Color.ToString().ToLower()';
                prodFrame.contentWindow.productShape = '@Model.Type.ToString().ToLower()';
            //};
        });
    </script>
</div>
<table>
    <tr>
        <th style="width: 100px">Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>@Model.Color</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>$9.99</td>
    </tr>
</table>
